body{
    margin: 0;
    background-color: whitesmoke;

}

.cards-container {
    width: 80%;
    margin-left: 10%;
    border-radius: 10px;
    background-color: white;
}

.cards-container button{
    background-color: white;
    border: 0;
    cursor: pointer;
}


.cards-container p b{
    font-size: 30px;
}

.filters, .filter1, .filter2, .filter3, .filter4{
    display: flex;
}

.filter2, .filter3, .filter4{
    background-color: rgba(255, 255, 255, 0.801);
    border-radius: 10px;
    margin-left: 50px;
    height: 25px;
    align-items: center;
}

.one1, .one2, .one3, .one4{
    margin-left: 20px;
}

.two1, .two2, .two3, .two4{
    margin-left: 20px;
}

.three1, .three2, .three3, .three4{
    margin-left: 20px;
}

.four1, .four2, .four3, .four4{
    margin-left: 20px;
}




.vl{
  
    border-left: 1px solid gray;
    opacity: 0.4;
    height: 30px;
    margin-left: 20px;
}

.muqaise{
    margin-left: 20px;
}




.wider-card{
    border-radius: 30px;
    display: flex;
}

.each-card{
    width: 80%;
    margin-top: 10px;
    margin-left: 10%;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: #0920a3;
}

.each-card button{
    cursor: pointer;
    width: 300px;
    margin-top: 10px;
    border-radius: 30px;
    
    border: 0;
    color: black;
    margin-left: 5%;
    height: 40px;
}

.each-card .sifaris{
    background-color: #475ED0;
    color: white;
 
}


.each-card .sifaris:hover{
    background-color: rgb(57, 223, 57);
    transition: 0.5s;
}

.each-card .etrafli:hover{
    transition: 0.5s;
    background-color: rgb(57, 223, 57);
    color: white;
}

.each-card a{
    color: black;
    text-decoration: none;
}

.each-card a:hover{
    color: #475ED0;
    text-decoration: none;
}

.card-title{
    margin-top: 20px;
    font-size: 25px;
}

.card-text{
    width: 80%;
}

.card-properties{
    display: flex;
}

.description-name{
    font-size: 22px;
    color: #475ED0;
    color: white;
}

.features-description{
    font-size: 12px;
}




.alt-block{
    text-align: center;
    width: 70%;
    margin-left: 15%;
    
}

.dost{
    padding-top: 200px;
}

.dost span{
    color: purple;
    font-size: 25px;
}

.dost b{
    color: purple;
}

.pics-text{
    display: flex;
    margin-left: 20%;
}


.two, .three, .four{
    margin-left: 20%;
}


.table button{
    cursor: pointer;
    width: 80%;
    margin-top: 10px;
    border-radius: 30px;
    background-color: #475ED0;
    
    border: 0;
    color: white;
    margin-left: 5%;
    height: 40px;
}


.table button:hover{
    transition: 0.5s;
    background-color: rgb(57, 223, 57);
    color: white;
    
}

.online{
    margin-top: 10px;
}

.table span{
    color: purple;
}

.kredit-data{
    margin-top: 20px;
    width: 80%;
    margin-left: 10%;

}

.kredit table{
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
}

.kredit-data span{
    color: purple;
    font-size: 20px;
}

tr{
    height: 50px;
}

.long-text{
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

.long-text ul{
    text-align: left;
}

.long-text span{
    color: purple;
}


.long-text p {
    color: purple;
}


.last-image{
    margin-left: 45%;
}

