<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Order</title>
    <link rel="stylesheet" href="{{url_for ('static', filename = 'css/kart-order.css')}}">
</head>
<body>
    {% extends 'header.html' %}
    {% block content %}
    {%from "_formhelpers.html" import render_field%}
    <div class="card-order-third-stage-container">
    <div class="stage-names">

        <div class="first-step3">
            <div class="one-circle"><div class="one"><span>&#10004;</span></div></div>
            <div class="one-text3">Kart məlumatları</div>
            
           

        </div>
        
        <div class="second-step3">
            <div class="two-circle"><div class="two"><span>&#10004;</span></div></div>
            <div class="two-text3">Şəxsi və ödəniş məlumatları</div>

        </div>

        <div class="third-step3">
            <div class="three-circle"><div class="three">3</div></div>
            <div class="three-text3">SMS Təsdiq</div>

        </div>

    </div>
    <div class="third-section-in-cards">
        <form action="" method="POST">
        
        {{form3.code.label}}
        <br>
        {{form3.code}}
        <br>
        <button type="submit">Göndər</button>
    </form>
    </div>

</div>
  {% endblock %}  
</body>
</html>